COMPOSE_PROJECT_NAME=faceapp-stack

FACEAPP_DOMAIN=faceapp.example.com
FACEAPP_API_DOMAIN=faceapp-api.example.com
FACEAPP_API_ORIGIN=https://faceapp-api.example.com

LARAVEL_APP_ENV=production
LARAVEL_APP_DEBUG=false
LARAVEL_APP_KEY=base64:KeNF/zMNUppHZ7jLIQHJuGrhhZRL7rqpqChDWPqgxf8=

GATEWAY_DEVICE_KEY=YOUR_DEVICE_KEY
GATEWAY_SECRET=YOUR_DEVICE_SECRET
GATEWAY_TIMEOUT_SECONDS=10
GATEWAY_DEFAULT_PERSON_TYPE=1
GATEWAY_DEFAULT_VERIFY_STYLE=1
GATEWAY_DEFAULT_AC_GROUP_NUMBER=0
GATEWAY_DEFAULT_PHOTO_QUALITY=1

GATEWAY_DEVICE_PORT=10010
GATEWAY_SDK_PORT=10011
